.bankai{
    color:cyan;
    background-color: black;
    padding-bottom: 10px;
  padding-left: 20px;
    padding-right: 20px;
}
    
.Pu{
  color:rgb(200, 123, 255);
  background-color: black;
  padding-bottom: 10px;
  padding-left: 20px;
    padding-right: 20px;
     border-style:dashed;
    border-color: rgb(34, 34, 139);
  }

hr{
   border: 2px dashed rgba(0,0,0);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(215, 36, 17);
    text-align: center;
    
}
 .i{
    font-family: 'Arial', sans-serif;
    color: rgb(17, 34, 215);
    background-color: black;
     border-style:dashed;
    border-color: rgb(34, 125, 139);
} 
 /* div p{
    font-family: 'Arial', sans-serif;
    color: rgb(17, 34, 215);
    background-color: black;
 } */
  div{
    text-align: justify;
  }
  div h2{
    font-family:"arial", sans-serif;
    color: rgb(34, 139, 34);
    text-transform: uppercase;
    text-decoration: underline;
   
   
  }
  .o{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 140, 0);
    background-color: black;
     border-style:dashed;
    border-color: rgb(115, 224, 115);

  }
.l{
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(128, 0, 128);
  background-color: black;
   border-style: dashed;
   border-top-style:dotted;
  
    border-color: rgb(139, 34, 34);
}
.b{
  border-style:groove;
  border-width: 100px;
  border-color: rgb(34, 139, 34);
  border-radius: 50%;
}